.footer {
  height: 8rem;
  background-color: #033860;
}

.footer-content {
  align-items: center;
  max-width: 1000px;
  height: 8rem;
  justify-items: center;
  display: grid;
  grid-template-columns: 0.25fr 0.5fr 0.25fr;
}

.footer-logo-section {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  gap: 0.8rem;
  color: #ebf4f7;
}

.footer-logo {
  height: 3.8rem;
}

.footer-nav-bar li {
  list-style: none;
}

.footer-nav-bar {
  display: flex;
  gap: 1.2rem;
  grid-column: 3;
}

.footer-nav-link {
  display: flex;
  align-items: center;
}

.footer-nav-bar li a:link,
.footer-nav-bar li a:visited {
  text-decoration: none;
  color: #ebf4f7;
  font-size: 1.2rem;
}

.footer-nav-bar li a:hover,
.footer-nav-bar li a:active {
  text-decoration: underline;
}