<header class="header">
  <div class="header-content grid--3-cols head-foot-container">
    <a class="header-home-link" href="index.html">
      <img class="header-logo" src="assets/logo.png" alt="HomeView Logo" />
    </a>
    <ul class="navigation-bar">
      <li><a class="nav-item" href="index.html">Home</a></li>
      <li><a class="nav-item" href="buyer.html">Buy</a></li>
      <li><a class="nav-item" href="seller.html">Sell</a></li>
      <li><a class="nav-item" href="help.html">Help</a></li>
      <li><a class="nav-item" href="AboutUs.html">About Us</a></li>
    </ul>
    <div class="account-section">
      <ul class="account-options" *ngIf="!accountService.isLoggedIn()">
        <li class="nav-item">
          <a class="account-option" routerLink='/login'>Login</a>
        </li>
        <li class="nav-item">
          <a class="account-option" routerLink='/register'>Sign Up</a>
        </li>
      </ul>
      <ul class="account-options" *ngIf="accountService.isLoggedIn()">
        <li class="nav-item">
          <a class="account-option" routerLink="/">{{accountService.currentUserValue.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-logout-option" (click)='logout()'>Logout</a>
        </li>
      </ul>
      <img class="avatar-pic" src="img/nav-avatar.svg" />
    </div>
  </div>
</header>
